@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Cancer hospital</title>
    <style>
    </style>
    <link rel="stylesheet" href="~/css/Index.css">
</head>

<body>
    <h2>The human spirit is stronger <br /> than anything that can happen to it.</h2>
    <button onclick="window.location.href='Home/HomeAll' ">Skip</button> 


</body>
